body {
    font-family: Ubuntu;
    padding: 30px 10px 10px 10px;
    text-align: center;
}

.game {
    text-align: center;
    border:1px solid #b1b1b1;
    background: #f7f7f7;
    font-size:0;
    margin:0 auto;
}

.cell {
    width: 28px;
    height: 28px;
    margin: 0;
    font-size:12px;
    padding: 0;
    border: 1px solid #FFFFFF;
    text-align: center;
    display:inline-block;
}

.cell.alive {
    /*background: #A7A7A7;*/
}

.cell.dead {
    /*background: #ECECEC;*/
}

.cell-1 { 
        background-color: #93DFB8;
}

.cell-2 {
    background-color: #FFC8BA;
}

.cell-3 {
    background-color: #E3AAD6;
}

.cell-4 {
    background-color: #B5D8EB;
}

.cell-5 {
    background-color: #FFBDD8;
}